<!-- <footer>
  <p class="footer-text"> ©Copyright - Cryptocurrency ISPC Fullstack 2022 - Todos los derechos reservados</p>
</footer> -->

<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
              <ul class="contact">
                   <span>Contacto</span>    
                   <li>
                      <p>MoonWallet</p>
                    </li>
                         
                    <li>
                      <p>+000000000</p>
                    </li>
                         
                    <li>
                      <p>moon-wallet@gmail.com</p>
                    </li>
               </ul>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <ul class="menu">
                   <span>Menu</span>    
                   <li>
                      <a  routerLink="/home">Inicio</a>
                    </li>
                         
                    <li>
                       <a routerLink="/register">Registro</a>
                    </li>
                         
                    <li>
                      <a routerLink="/login">Inicio Sesión</a>
                    </li>

              </ul>
          </div>
     
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <ul class="social">
                 <span>Redes Sociales</span>    
                 <li>
                      <a href="https://es-la.facebook.com/"><i class="fa fa-facebook fa-2x"></i></a>
                 </li>
                
                 <li>
                      <a href="https://github.com/pgCatamarca2021fs/aula2-grupoc-team-2c"><i class="fa fa-github fa-2x"></i></a>
                 </li>
                  
                 <li>
                      <a href="https://ar.linkedin.com/"><i class="fa fa-linkedin fa-2x"></i></a>
                 </li>
                 
                 <li>
                      <a href="https://www.instagram.com/?hl=es-la"><i class="fa fa-instagram fa-2x"></i></a>
                 </li>
                  
                 <li>
                      <a href="https://www.google.com/"><i class="fa fa-google fa-2x"></i></a>
                </li>
               </ul>
          </div>
     </div> 
    </div>
    <div class="copyright">
      <div class="row">
      <div class="col-6 col-md-6">
         <a id="back-to-top" href="#" class="btn btn-light" role="button"><i class="fas fa-chevron-up"></i></a> 
      </div>
      <div class="col-6 col-md-6">
        <p>© 2021~2022 - MoonWallet</p>
      </div>
    </div>
    </div>
</footer>