<div class="container-fluid">

    <div id="carouselExampleControls" class="carousel slide  col-md-8  col-lg-6 mx-auto" data-bs-ride="carousel">
      
      <div class="carousel-inner">
  
        <div class="carousel-item active">
          <div class="d-flex">
  
            <div class=" d-flex justify-content-end  w-50 "> 
              <img src="../../../../assets/img/Ethereum.png" class="d-block  img-responsive">
            </div>
         
             <div class="text-white pt-4 align-items-center pt-5">
              <p class="fs-1">Ethereum</p>
              <p>$4505,1</p>
             </div>
  
          </div>
        </div>
  
        <div class="carousel-item">
          <div class="d-flex">
  
            <div class="d-flex justify-content-end  w-50">
              <img src="../../../../assets/img/Bitcoin-Logo2.png" class="d-block img-responsive">
            </div>
        
            <div class="text-white align-items-center   pt-5">
              <p class="fs-1">Bitcoin</p>
              <p>$4505,1</p>
            </div>
          </div>
        </div>
  
        <div class="carousel-item">
          <div class="d-flex">
  
            <div class="d-flex justify-content-end  w-50">
              <img src="../../../../assets/img/lunar.jpg" class="d-block  img-responsive">
            </div>
  
            <div class=" text-white   ps-5 pt-5 align-items-center" >
              <p class="fs-1">Moonwallet</p>
              <p>$4505,1</p>
            </div>
  
          </div>
        </div>
  
      </div>
  
      <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
  
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  
    </div>
  
  </div>