<main class="form-signin" >
  <form  method="post" id="form-login">
    <img class="mb-4" src="assets\img\Logo.png" alt="" id="logo">
    <h1 class="h3 mb-3 fw-normal text-center">Por Favor, Inicie Sesión</h1>

    <div class="form-group">
      <label class="text-center">Email</label>
      <input type="email" class="form-control" placeholder="name@example.com" id="email">
    </div>

    <div class="form-group">
      <label class="text-center">Contraseña</label>
      <input type="password" class="form-control" placeholder="Password" id="pass">
    </div>

    <div class="checkbox mb-3" id="checkbox">
      <label class="remember-me">
        <input type="checkbox" value="remember-me"> Recuérdame
      </label>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <button class="w-100 btn btn-lg btn-primary" type="submit" id="login">Ingresar</button>
      </div>
      <div class="col-lg-6">
        <a class="w-100 btn btn-lg btn-primary" id="register" routerLink="/register" routerLinkActive="active">Registrarse</a>
      </div>
    </div>
  </form>
</main>
