.form-signin{
  background-color: #181A20;
  color: aliceblue;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

#form-login{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
}

#title{
  text-align: center;
}

#logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.remember-me{
  padding-left: 30px;
}

button{
  padding: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control{
  height: 60px;
}

@media only screen and (max-width:768px) {
  #form-login{
    width: 100%;
  }
}
