<header>
  <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light bg-light ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="">
            <a class="nav-link text-warning" href=""> Trading</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-warning" href=""> Mercados</a>
              </li>
            </ul>
          </div>
          <form class="d-flex">
            <a class="nav-link text-warning" href=""> Registrar</a>
            <a class="nav-link text-warning " href=""> Iniciar sesion</a>
          </form>
        </div>
    </nav>
</header>


<main>
  <section>

     <!-- Imagen central con texto -->
    <div class="site-img contenido-img ">
          <div class="contenido-texto contenedor">
            <h1 class="text-white ">Compra y vende  en minutos</h1>
            <p class="text-white">Únete al mayor exchange de criptomonedas del mundo</p>
            <a href="">Registrarse</a>
          </div>
    </div>
 </section>
  <!-- Cuadros -->
 <section >
    <h2 class="text-white d-flex justify-content-center m-5">Que podes hacer en ----</h2>

    <div class="card-deck d-flex contenedor">
      <div class="card m-3">
        <img class="card-img-top" src=".../100px200/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

        </div>
      </div>
      <div class="card m-3">
        <img class="card-img-top" src=".../100px200/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
      <div class="card m-3">
        <img class="card-img-top" src=".../100px200/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>

        </div>
      </div>
    </div>

 </section>
</main>