.form-signin{

  background-color: #181A20;
  color: aliceblue;
  padding-top: 100px;
  padding-bottom: 250px;
  padding-left: 20px;
  padding-right: 20px;
}
#form-login{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 60%;
}
#title{
  text-align: center;
}
#logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#email{
  margin-top: 20px;;
  margin-bottom: 20px;
}
#pass{
  margin-top: 20px;;
  margin-bottom: 20px;
}
.recuerdame{
  padding-left: 30px;
}
#descripcion{
  text-align: center;
}
#ingresar{
  padding: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#registrarse{
  margin-bottom: 10px;
  margin-top: 10px;
  padding: auto;
}
#labelemail{
  color: aliceblue;
}
.form-control{

  height: 60px;
}
