<header>
  <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light bg-light ">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="">
            <a class="nav-link text-warning" routerLink="" routerLinnkActive="active"> Trading</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-warning" href=""> Mercados</a>
              </li>
            </ul>
          </div>
          <form class="d-flex">
            <a class="nav-link text-warning" routerLink="/register" routerLinnkActive="active"> Registrar</a>
            <a class="nav-link text-warning " routerLink="/login" routerLinnkActive="active"> Iniciar sesion</a>
          </form>
        </div>
    </nav>
</header>
